/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Set the background color */
}

/* Header styles */
header {
    background-color: #333333;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

/* Navigation styles */
.navbar {
    background-color: black; /* Set the navbar background color */
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Album section styles */
.album {
    padding: 10rem 7% 2rem;
    background-color: #187bcd; /* Set the background color for the IMM FT section */
}

.album .heading {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 4rem;
    color: #ffffff; /* Set the heading color */
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-content: center;
}

.album-item {
    text-align: center;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.album-item:hover {
    transform: scale(1.05); /* Scale up on hover */
}

.album-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.album-item h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: #187bcd; /* Set the heading color */
}

.album-item p {
    color: #666666;
}

/* Footer styles */
.footer {
    background-color: #333333;
    color: #ffffff;
    padding: 2rem 0;
    text-align: center;
}

.footer-text {
    font-size: 1.2rem;
}

.footer-iconTop {
    margin-top: 1rem;
}

.footer-iconTop a {
    color: #ffffff;
}

/* Responsive styles */
@media screen and (max-width: 1024px) {
    .album-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media screen and (max-width: 768px) {
    .album {
        padding: 8rem 5% 2rem; /* Adjust padding for smaller screens */
    }

    .album .heading {
        font-size: 3rem; /* Reduce heading font size */
        margin-bottom: 3rem; /* Adjust margin */
    }

    .album-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust grid columns */
        gap: 1rem; /* Reduce gap between items */
    }

    .album-item h3 {
        font-size: 1.5rem; /* Reduce heading font size */
    }
}

@media screen and (max-width: 480px) {
    .album {
        padding: 6rem 3% 2rem; /* Further adjust padding for smaller screens */
    }

    .album .heading {
        font-size: 2.5rem; /* Further reduce heading font size */
        margin-bottom: 2rem; /* Further adjust margin */
    }

    .album-item h3 {
        font-size: 1.2rem; /* Further reduce heading font size */
    }
}
